{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
<div>
    <div class="container mb-3 py-4">
        <h1 class="text-center">About Us</h1>
        <div class="flex flex-col space-y-8 ...">
            <h3 class="text-left">Company History</h3>
            <h5 class="text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus cumque maiores laboriosam laudantium. Doloribus, minima.</h5>
        </div>
        <div class="flex flex-col space-y-4 ...">
            <h3 class="text-left">Mission and Values</h3>
            <h5 class="text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus cumque maiores laboriosam laudantium. Doloribus, minima.</h5>
        </div>
        <div class="flex flex-col space-y-4 ...">
            <h3 class="text-left">Team</h3>
            <h5 class="text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus cumque maiores laboriosam laudantium. Doloribus, minima.</h5>
        </div>
        <div class="flex flex-col space-y-4 ...">
            <h3 class="text-left">Customer Testimonials</h3>
            <h5 class="text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus cumque maiores laboriosam laudantium. Doloribus, minima.</h5>
        </div>
        <div class="flex flex-col space-y-4 ...">
            <h3 class="text-left">Achievements and Awards</h3>
            <h5 class="text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus cumque maiores laboriosam laudantium. Doloribus, minima.</h5>
        </div>
    </div>
</div>

{% endblock body %}

    
