{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
<div>
    <div class="container mb-4 py-4 d-flex flex-col gap-4" style="height:100vh;flex-direction: column;">
        <h1 class="text-center">About Us</h1>
        <div class="row d-flex item-center justify-center h-100">
            <div class="col-md-6">
                <h3 class="text-left">Company History</h3>
                <h5 class="text-left">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident illum tenetur voluptatum dolorum fugiat libero eius, labore reprehenderit facere reiciendis, ex, odio dicta. Culpa ut consequatur minus earum quasi quae inventore quod nihil maxime, ducimus aut corporis, ipsa nemo vel. Nisi voluptatem distinctio corrupti ipsum harum sequi nesciunt doloribus ut.   </h5>
            </div>
            <div class="col-md-6">
                <h3 class="text-left">Mission and Values</h3>
                <h5 class="text-left">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident illum tenetur voluptatum dolorum fugiat libero eius, labore reprehenderit facere reiciendis, ex, odio dicta. Culpa ut consequatur minus earum quasi quae inventore quod nihil maxime, ducimus aut corporis, ipsa nemo vel. Nisi voluptatem distinctio corrupti ipsum harum sequi nesciunt doloribus ut.   </h5>
            </div>
            <div class="col-md-6">
                <h3 class="text-left">Team</h3>
                <h5 class="text-left">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident illum tenetur voluptatum dolorum fugiat libero eius, labore reprehenderit facere reiciendis, ex, odio dicta. Culpa ut consequatur minus earum quasi quae inventore quod nihil maxime, ducimus aut corporis, ipsa nemo vel. Nisi voluptatem distinctio corrupti ipsum harum sequi nesciunt doloribus ut.   </h5>
            </div>
            <div class="col-md-6">
                <h3 class="text-left">Customer Testimonials</h3>
                <h5 class="text-left">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident illum tenetur voluptatum dolorum fugiat libero eius, labore reprehenderit facere reiciendis, ex, odio dicta. Culpa ut consequatur minus earum quasi quae inventore quod nihil maxime, ducimus aut corporis, ipsa nemo vel. Nisi voluptatem distinctio corrupti ipsum harum sequi nesciunt doloribus ut.   </h5>
            </div>
            <div class="col-md-6">
                <h3 class="text-left">Achievements and Awards</h3>
                <h5 class="text-left">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident illum tenetur voluptatum dolorum fugiat libero eius, labore reprehenderit facere reiciendis, ex, odio dicta. Culpa ut consequatur minus earum quasi quae inventore quod nihil maxime, ducimus aut corporis, ipsa nemo vel. Nisi voluptatem distinctio corrupti ipsum harum sequi nesciunt doloribus ut.   </h5>
            </div>
        </div>
        
    </div>
</div>

{% endblock body %}

    
